html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #07c;
  margin: 0;
}

p,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.weather-container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.error-div {
  color: #ff0000;
  text-align: center;
  margin: 15px 0;
}

.weather-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  width: 300px;
  padding: 20px 0;
  background-color: #cfd3d7;
}

.weather-location {
  font-size: 30px;
  font-weight: bold;
}

.weather-temp-container {
  display: flex;
}

.weather-temp-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.weather-temp {
  font-size: 35px;
}

.weather-min-max {
  display: flex;
  font-size: 17px;
  gap: 8px;
}
